@import url('https://fonts.googleapis.com/css?family=Montserrat');
*,
::before,
::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-moz-selection {
    background-color: #6610f2;
    color: #fafafa;
}

::selection {
    background-color: #6610f2;
    color: #fafafa;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
    color: #fafafa;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #0e091b;
}

::-webkit-scrollbar-thumb {
    background-color: #6610f2;
    border-radius: 6px;
}

.header-menu {
    background: rgba(14, 9, 27, 0.6) !important;
    backdrop-filter: blur(25px) !important;
    -webkit-backdrop-filter: blur(25px) !important;
    border-bottom: 1px solid rgba(114, 114, 126, 0.2) !important;
}

.header-menu,
.header-menu a,
.header-menu ul li a {
    color: #fafafa!important;
}

main section {
    min-height: 100vh;
}

main #sobreMim {
    padding: 100px 20px 0px 20px;
    background-color: #0e091b;
}

main #sobreMim .container-fluid div h2 {
    margin-left: 30px;
}

@media screen and (max-width: 1024px) {
    main #sobreMim {
        padding: 75px 20px 50px 20px;
    }
}

main #sobreMim h2 {
    color: #fafafa;
    font-size: 2rem;
    font-weight: 500;
}

main #sobreMim h2 #meuNome {
    font-size: 2.8rem;
    margin: 10px 0 !important;
}

main #sobreMim span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

main #sobreMim span.cursor.typing {
    animation: none;
}

main #sobreMim p {
    font-size: 1rem;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}

main #conhecimentos {
    border: none;
    background-color: #110E1B;
    padding-top: 100px;
}

main #conhecimentos .card {
    margin-top: 20px;
}

main #conhecimentos .card,
main #conhecimentos .card-body {
    background-color: #0E091B;
    cursor: pointer;
    padding: 10px;
}

main #conhecimentos .card-body img {
    width: 100%;
}

main #conhecimentos .card:hover {
    border: 1px solid #6610f2;
}

main #projetos {
    background-color: #0e091b;
    padding-top: 100px;
    padding: 20px;
}

section .card {
    background-color: #110E1B;
    text-align: left;
}

section .card:hover {
    border: 1px solid #6610f2;
}

section .card .card-title {
    font-weight: bold;
    font-size: 18px;
}

section .card .card-title a {
    text-decoration: none;
    color: white;
}

section .card .card-subtitle {
    font-size: 15px;
}

section .card .card-text {
    font-size: 15px;
    color: #DDD;
}

section div.card-footer>a {
    font-size: 12px;
    color: #ccc;
    text-decoration: none;
}

main #clientes {
    padding-top: 100px;
    padding: 20px;
    background-color: #110E1B;
}

main #clientes .card {
    background-color: #0e091b;
}

main #clientes .card .card-body img {
    width: 100px;
    border-radius: 50%!important;
    margin-bottom: 10px;
}

main #clientes .card .card-text {
    text-align: left;
}